body {
    background-color: #333a4a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #444a5a;
    border-radius: 10px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.buttons div {
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.box {
    width: 40%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.middle {
    background-color: black;
    padding: 20px;
    margin: 20px auto;
    width: 20%;
    border-radius: 20px;
    font-weight: bold;
}
.bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.bottom div {
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}
.bottom div p {
    background-color: lime;
    padding: 10px;
    border-radius: 5px;
    color: black;
}